{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CityRate{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=DM+Sans:wght@400;500&display=swap" rel="stylesheet">

</head>

<body>

<nav class="navbar">
    <div class="nav-container">

        <a href="{% url 'home' %}" class="logo">
            <img src="{% static 'images/logo.jpeg' %}" alt="CityRate logo">
        </a>

        <div class="nav-links">
            <a href="{% url 'review_list' %}">Reviews</a>
            <a href="{% url 'create_post' %}">Create Post</a>

            {% if user.is_authenticated %}
                <a href="{% url 'account_page' %}" class="nav-user">
                    Account
                </a>
            {% else %}
                <a href="{% url 'login' %}" class="nav-button">
                    Login
                </a>
            {% endif %}
        </div>

    </div>
</nav>

<main class="page-container">
    {% block content %}
    {% endblock %}
</main>

<footer class="site-footer">
    <div class="footer-links">
        <a href="{% url 'about_page' %}">About</a>
        <a href="{% url 'review_list' %}">Discover</a>
        <a href="{% url 'privacy_page' %}">Privacy</a>
    </div>

    <p>© 2026 CityRate – Share your travel experiences</p>
</footer>

<script src="{% static 'js/main.js' %}"></script>

</body>
</html>